.keyboard-container{
  border: 2px solid black;
  background-color: #B2B3B3;
  border-radius: 12px;

}

.Keyboard {
  max-width: 1008px;
  width: 100%;
  overflow: hidden;
  position: relative;
  order: 2;
  border-radius: 20px;
  border-color: black;
}

.row {
  display: flex;
  background-color: #B2B3B3;
}

.keys{
  width: 70px;
  height: 50px;
  background-color: #faf9f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 12px;
}

.keys.active {
  animation: activeAnimation 2s forwards;
}

@keyframes activeAnimation {
  0% {
    background-color: #303030;
    color: #fff;
  }

  100% {
    background-color: #faf9f6;
    color: #000;
  }
}

.Backspace {
  width: 150px;
  height: 50px;
  background-color: #fadfa1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 15px;
}

.Tab {
  width: 100px;
  height: 50px;
  background-color: #fadfa1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 15px;
}

.Slash {
  width: 120px;
  height: 50px;
  background-color: #fadfa1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 15px;
}

.Caps_Lock {
  width: 130px;
  height: 50px;
  background-color: #fadfa1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 15px;
}

.Enter_Key {
  width: 160px;
  height: 50px;
  background-color: #fadfa1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 15px;
}

.Ctrl{
  width: 120px;
  height: 50px;
  background-color: #7eacb5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 12px;
}

.Alt {
  width: 120px;
  height: 50px;
  background-color: #7eacb5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 12px;
}

.Backslash {
  width: 120px;
  height: 50px;
  background-color: #faf9f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 12px;
}

.Shift_Left {
  width: 160px;
  height: 50px;
  background-color: #7eacb5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 12px;
}

.Shift_Right {
  width: 187px;
  height: 50px;
  background-color: #7eacb5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 12px;
}

.Space_Key {
  max-width: 600px;
  width: 100%;
  height: 50px;
  background-color: #c96868;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  transition: 0.2s;
  border: 2px solid #000;
  border-radius: 20px;
}

.Backspace.active,
.Tab.active,
.Slash.active,
.Caps_Lock.active,
.Enter_Key.active,
.Ctrl.active,
.Alt.active,
.Backslash.active,
.Shift_Left.active,
.Shift_Right.active,
.Space_Key.active {
  animation: activeAnimation 2s forwards;
}

@keyframes activeAnimation {
  0% {
    background-color: #303030;
    color: #fff;
  }

  100% {
    background-color: #faf9f6;
    color: #000;
  }
}