/* PlayerStats.css */
.player-stats-card {
    width: 300px;
    border: 2px solid #078080;
    border-radius: 0.5rem;
    /* Consistent border-radius */
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Add transition for hover effects */
}

.player-stats-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.stats-header {
    background-color: #078080;
    /* Match header background */
    color: white;
    /* Ensure text color is consistent */
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding: 1rem;
    /* Add padding for better spacing */
    text-align: center;
    /* Center text */
}

.content {
    padding: 1.5rem;
}

.stats-details {
    display: flex;
    /* Changed to flex for consistency */
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center align the items */
    gap: 1rem;
    /* Space between stats */
}

.stat {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ensure stat takes full width */
}

.stat dt {
    background-color: #078080;
    /* Match dt background */
    border-radius: 10px;
    /* Consistent rounding */
    padding: 10px;
    font-weight: bold;
    color: #ffffff;
}

.stat dd {

    margin: 0;
    color: #000000;
    padding: 5px;
    font-weight: 500;
}