/* .user-box {
  border: 1px solid black;
  width: 80vw;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
} */

.user-box {
  color: black;
  background: transparent;
  position: absolute;
  z-index: 1;
  padding: 10px;
  width: 80vw;
  height: 15vh;
}
